
body {
  font-family: Arial;
  background: #eef6fb;
  padding: 40px;
}

.tariffs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tariff-card {
  background: white;
  border-radius: 20px;
  padding: 20px;
  transition: 0.3s;
}

.tariff-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.tariff-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tag {
  background: #e6f4ff;
  padding: 5px 10px;
  border-radius: 10px;
}

.format {
  font-weight: bold;
}

.features {
  margin: 10px 0;
}

.price {
  font-size: 30px;
  font-weight: bold;
  margin: 10px 0;
}

.btn {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(to right, #1e90ff, #00c6ff);
  color: white;
}
